.campo-painel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    article {
        width: 80%;
        height: 80%;
        display: flex;
        padding: 0.5em;
        margin-top: 2.5em;
        border-radius: 0.7em;
        flex-direction: column;
        background-color: $blue;
        box-shadow: 6px 7px 5px -4px rgba(34, 35, 38, 0.13),
            -6px 7px 25px -5px rgba(40, 38, 39, 0.37);
    }
}
.rolagem {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.rolagem::-webkit-scrollbar-track-piece {
    background-color: $blue;
}
.rolagem::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
}
.rolagem::-webkit-scrollbar-thumb {
    border-radius: 0.2em;
    background-color: $ligthBlue;
}
.div-titulo {
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    p {
        color: $white;
        cursor: default;
        font-size: 1.6rem;
        font-weight: bolder;
        font-family: $Roboto;
    }
}
.div-campo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        width: 95%;
        height: 95%;
        display: flex;
        align-items: center;
        border-radius: 0.7em;
        flex-direction: column;
        justify-content: center;
        textarea {
            width: 80%;
            height: 20em;
            color: $white;
            font-size: 1rem;
            border-radius: 0.7em;
            padding: 0.3em;
            font-family: $Roboto;
            margin-bottom: 0.5em;
            background-color: $ligthBlue;
        }
        textarea::-webkit-scrollbar-track-piece {
            background-color: $blue;
            border-top-right-radius: 0.7em;
            border-bottom-right-radius: 0.7em;
        }
        textarea::-webkit-scrollbar {
            width: 0.2em;
            height: 0.2em;
        }
        textarea::-webkit-scrollbar-thumb {
            border-radius: 0.2em;
            background-color: $ligthBlue;
        }
        input {
            width: 80%;
            color: $white;
            height: 1.7em;
            padding: 0.5em;
            font-size: 1rem;
            margin-bottom: 0.5em;
            border-radius: 0.7em;
            font-family: $Roboto;
            background-color: $ligthBlue;
        }
        input::placeholder {
            color: $white;
        }
    }
}
.div-buttons {
    width: 100%;
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: row;
    }
    .painel {
        width: 5em;
        height: 2em;
        display: flex;
        color: $white;
        cursor: pointer;
        font-size: 1rem;
        align-items: center;
        margin-right: 0.5em;
        font-weight: bolder;
        border-radius: 0.7em;
        font-family: $Roboto;
        background-color: $red;
        justify-content: center;
    }
    button {
        width: 5em;
        height: 2em;
        color: $white;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bolder;
        border-radius: 0.7em;
        font-family: $Roboto;
        background-color: $green;
    }
    .div-page {
        a {
            width: 5em;
            height: 2em;
            display: flex;
            color: $white;
            cursor: pointer;
            font-size: 1rem;
            align-items: center;
            margin-right: 0.5em;
            font-weight: bolder;
            border-radius: 0.7em;
            font-family: $Roboto;
            background-color: $ligthBlue;
            justify-content: center;
        }
    }
}
