    /* Cores */
$blue:#04ADBF;
$grey: #EFEBEB;
$white: #FFFFFF;
$whiteDark: #F0F0F0;
$WhiteGrey: #F3F3F3;
$ligthBlue: #6CC1C1;
$green: rgb(88, 255, 116);
$red: rgb(255, 164, 164);
    /* Fontes */
$Roboto: 'Roboto', sans-serif;
$Alfa-Slad-One: 'Alfa Slab One', cursive;
