    /* Cores */
$blue:#04ADBF;
$green:#22FF8B;
$grey: #EFEBEB;
$white: #FFFFFF;
$whiteDark: #F0F0F0;
$ligthBlue: #6CC1C1;
    /* Fontes */
$Roboto: 'Roboto', sans-serif;
$Alfa-Slad-One: 'Alfa Slab One', cursive;
